(tls) {
	tls "certbot@jeremyjacob.dev"
}

plotbot.art {
	import tls
	encode gzip
  	root * "/home/slicer/Plotbot/Interface/dist/"
	reverse_proxy /api/* localhost:8080
	file_server
}

plotbot.art/api/* {
	uri strip_prefix api
	reverse_proxy  localhost:8080 {
		header_up X-Real-IP {remote}
	}
}
